[defaults]
inventory = inventory/hosts.yml
local_tmp = .ansible/tmp
host_key_checking = True
retry_files_enabled = False
interpreter_python = auto_silent
forks = 8
timeout = 30
display_skipped_hosts = False

[ssh_connection]
pipelining = True
